<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded" style="width: 80%; max-width: 1200px;">
        <div class="container">
            <div *ngIf="personAddress">

                <form (ngSubmit)="updateAddress(personAddressForm)" #personAddressForm="ngForm">
                    <app-person-address-form [personAddress]="personAddress" 
                        ngModelGroup="addressGroup"
                        [submitted]="personAddressForm.submitted"
                        [readOnly]="false"></app-person-address-form>
                    <br>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" [routerLink]="['/addresses']">Back</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>